<template>
  <div id="navBar">
    <!--<div id="nav 1">-->
      <b-navbar class="test" type="dark" variant="dark">
        <b-navbar-nav>
          <b-nav-item to="/">Menu</b-nav-item>
          <b-nav-item to="/order" v-if="isConnected">Order</b-nav-item>
          <b-nav-item to="/reservations" v-if="isConnected && isAdmin">Reservations</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-text class="mx-5" v-if="reservationID && isAdmin"><button class="py-0 btn btn-sm btn-outline-danger" @click="reset()">x</button> Reservation {{reservationID}}</b-nav-text>
          <b-nav-item @click="logout" v-if="isConnected" right>Logout</b-nav-item>
          <b-nav-item to="/login" v-if="!isConnected" right>Login</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
    <!--</div>-->
    <div id="nav2">
        <b-navbar class="test2" toggleable type="dark" variant="dark">
    <b-navbar-brand to="/">Menu</b-navbar-brand>

    <b-navbar-toggle target="navbar-toggle-collapse">
      <template #default="{ expanded }">
        <b-icon v-if="expanded" icon="arrow-up"></b-icon>
        <b-icon v-else icon="arrow-down"></b-icon>
      </template>
    </b-navbar-toggle>

    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/order" v-if="isConnected">Order</b-nav-item>
        <b-nav-item to="/reservations" v-if="isConnected && isAdmin">Reservations</b-nav-item>
        <b-nav-text v-if="reservationID && isAdmin"><button class="py-0 btn btn-sm btn-outline-danger" @click="reset()">x</button> Reservation {{reservationID}}</b-nav-text>
        <b-nav-item @click="logout" v-if="isConnected" right>Logout</b-nav-item>
        <b-nav-item to="/login" v-if="!isConnected" right>Login</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    </div>
  </div>
  
</template>

<script>

import authAPI from "../services/authAPI";
import axios from "axios";

export default {
  name: 'NavBarBlock',
  computed: {
    isConnected() {
      return authAPI.isConnected()
    },
    isAdmin(){
      return this.isConnected && authAPI.isAdmin()
    },
    reservationID(){
      return authAPI.storeAccount.currentReservationId
    }
  },
  methods: {
    async logout() {
      await authAPI.logout()
      await this.$router.push('/login')
    },
    reset(){
      authAPI.resetReservation()
      this.$router.push({name: 'menu'});
    }
  },
  mounted() {
    axios.defaults.headers.common["Authorization"] = "Bearer " + window.localStorage.getItem("authToken")
    authAPI.storeAccount.token = window.localStorage.getItem("authToken")
    authAPI.storeAccount.currentReservationId = window.localStorage.getItem('currentReservationId')
  }
}
</script>
<style scoped>
@media (max-width: 700px) {
  .test{
    display: none !important; 
  }
}

@media (min-width: 700px) {
  #nav2{
    display: none;
  }
}
</style>