<template>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center mb-3">
          <h1>Connexion à l'application</h1>
        </div>
        <b-overlay :show="onLogin" style="background-color: #343a40; border-radius: 1.25rem"
                   class="col-lg-4 col-md-6 col-sm-8 text-left py-3">
          <p class="text-center bg-danger mb-1" :show="error !== null" style="border-radius: 1.25rem;">{{ error }}</p>
          <b-form @submit="login" class="col-12">
            <b-form-group
                v-if="!isAccountLogin"
                id="login-form-input-group-lastname"
                class="my-2"
                style="border-radius: 1.25rem;"
            >
              <b-form-input
                  id="login-form-input-lastname"
                  type="text"
                  placeholder="Saisir votre nom de famille"
                  v-model="lastname"
                  required
                  style="border-radius: 1.25rem;"
              ></b-form-input>
            </b-form-group>

            <b-form-group
                v-if="!isAccountLogin"
                id="login-form-input-group-tableNumber"
                class="my-2"
                style="border-radius: 1.25rem;"
            >
              <b-form-input
                  id="login-form-input-tableNumber"
                  type="text"
                  placeholder="Saisir votre numéro de table"
                  v-model="tableNumber"
                  style="border-radius: 1.25rem;"
                  required
              ></b-form-input>
            </b-form-group>

            <b-form-group
                v-if="isAccountLogin"
                id="login-form-input-group-username"
                class="my-2"
                style="border-radius: 1.25rem;"
            >
              <b-form-input
                  id="login-form-input-username"
                  type="text"
                  placeholder="Saisir votre nom d'utilisateur"
                  v-model="username"
                  style="border-radius: 1.25rem;"
                  required
              ></b-form-input>
            </b-form-group>

            <b-form-group
                v-if="isAccountLogin"
                id="login-form-input-group-password"
                style="border-radius: 1.25rem;"
                class="my-2"
            >
              <b-form-input
                  id="login-form-input-password"
                  type="password"
                  placeholder="Saisir votre mot de passe"
                  style="border-radius: 1.25rem;"
                  v-model="password"
                  required
              ></b-form-input>
            </b-form-group>

            <div class="col text-center my-2">
              <b-button type="submit" style="border-radius: 1.25rem;" variant="success" class="mx-2"
                        :disabled="onLogin">Se connecter
              </b-button>
            </div>
          </b-form>
        </b-overlay>
      </div>
    </div>

    <b-modal id="bv-modal-select-reservation" hide-footer>
      <template #modal-title>
        Oups... Nous avons plusieurs réservations... Pouvez-vous nous dire quel est la votre?
      </template>
      <div class="d-block text-center">
        <div v-for="reservation in reservationSelection" :key="reservation.id" class="my-4">
          <a @click="selectReservation(reservation)" class="text-decoration-none text-dark p-2 selectable-reservation" href="#">
            <span class="text-capitalize">M./Mme. {{ reservation.name }}</span> du
            {{
              formatedDateTime(reservation.startDate)
            }}{{ reservation.endDate ? ' au ' + formatedDateTime(reservation.endDate) : '' }}</a>
        </div>
      </div>
    </b-modal>

    <div class="fixed-bottom">
      <a v-if="!isAccountLogin" @click="isAccountLogin = true" class="text-decoration-none" href="#">Vous avez un
        compte?</a>
      <a v-if="isAccountLogin" @click="isAccountLogin = false" class="text-decoration-none" href="#">Vous n'avez pas de
        compte?</a>
    </div>
  </div>
</template>

<script>
import AuthAPI from "@/services/authAPI"
import {mutationsUser} from "../store/user";

export default {
  name: "Login",
  data() {
    return {
      username: null,
      password: null,
      lastname: null,
      tableNumber: null,
      onLogin: false,
      error: null,
      isAccountLogin: false,
      reservationSelection: null
    }
  },
  methods: {
    formatedDateTime(date) {
      return this.$moment.utc(date).format('DD/MM/YY hh:mm')
    },
    async accountLogin() {
      try {
        const credentials = {
          "username": this.username,
          "password": this.password
        }
        await AuthAPI.authenticateUser(credentials)


        this.redirectHome()

        return null
      } catch (e) {
        console.log(e)
        this.error = "Identifiants incorrect"
      }
    },
    async customerLogin() {
      try {
        const credentials = {
          "name": this.lastname,
          "tableNumber": this.tableNumber
        }

        let res = await AuthAPI.authenticateCustomer(credentials)

        if (res === null || res.length === 0) {
          this.error = "Aucune reservation en cours ou à venir pour la table " + this.tableNumber + " en ce nom"
          return
        }

        if (res.length > 1) {
          this.reservationSelection = res
          this.$bvModal.show('bv-modal-select-reservation')
          return
        }

        this.setCurrentReservation(res)
      } catch (e) {
        console.log(e)
        this.error = "Identifiants incorrect"
      }
    },
    async login() {
      event.preventDefault()
      this.onLogin = true

      if (this.isAccountLogin)
        await this.accountLogin()

      if (!this.isAccountLogin)
        await this.customerLogin()

      this.onLogin = false
    },
    setCurrentReservation(reservation) {
      AuthAPI.setCurrentReservation(reservation)
      mutationsUser.loadTokenForCustomer()
      this.redirectHome()
    },
    selectReservation(reservation) {
      this.setCurrentReservation([reservation])
      this.$bvModal.hide('bv-modal-select-reservation')
    },
    redirectHome() {
      this.$router.push({name: 'menu'});
    }
  }
}
</script>

<style>
.selectable-reservation:hover {
  box-shadow: 5px 5px 5px #525050;
}

.selectable-reservation {
  box-shadow: 5px 1px 10px #525050;
  border-radius: 10px;
}
</style>
