<template>
  <div>

    <div class="container-menu">
      <div class="text-center mb-3">
        <h1>Redro, for order what you want</h1>
      </div>
      <div class="filter">
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isFish"><span><i class="fas fa-fish"></i></span>
          </label>
        </div>
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isVegetable"><span><i class="fas fa-seedling"></i></span>
          </label>
        </div>
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isWhiteMeat"><span><i class="fas fa-drumstick-bite"></i></span>
          </label>
        </div>
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isRedMeat"><span><i class="fas fa-bacon"></i></span>
          </label>
        </div>
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isPeanut"><span><i class="fas fa-infinity"></i></span>
          </label>
        </div>
        <div class="filter-elements">
          <label style="margin: 0px">
            <input type="checkbox" value="test" v-model="isStarchy"><span><i class="fas fa-lemon"></i></span>
          </label>
        </div>
      </div>

      <b-overlay :show="menus === null || foods === null" class="text-left py-3 containerMenu">
        <div v-for="menu in filteredMenus" :key="menu.id" style="border-radius: 1.25rem; margin-bottom: 0.75rem"
             class="bg-white px-2 py-1" id="items_menu">
          <h2 class="text-capitalize">{{ menu.name }}</h2>
          <ul :id="'foods-' + menu.id">
            <li v-for="food in menu.foods" :key="food.id">
              <h6 class="text-capitalize d-inline mx-1">{{ food.name }}</h6>

              <i class="fas fa-info-circle" v-b-toggle="'collapse-' + food.id + '-' + menu.id"
                 style="color: #343a40"></i>
              <b-collapse :id="'collapse-' + food.id + '-' + menu.id" class="border rounded px-2">
                <div :id="'ingredients-' + food.id + '-' + menu.id"
                     v-for="ingredientQuantity in food.ingredientQuantities" :key="ingredientQuantity.id"
                     class="container px-0">
                  <div class="row">
                    <div class="col-12">
                        <span class="text-capitalize">{{
                            ingredientQuantity.ingredient.name
                          }} </span> {{
                        (ingredientQuantity.quantity && ingredientQuantity.ingredient.defaultUnite) ? '(' + ingredientQuantity.quantity + ingredientQuantity.ingredient.defaultUnite + ')' : ''
                      }}
                    </div>
                    <div class="col-12 px-0 ml-1" style="font-size: 0.8rem;">
                      <div class="container">
                        <div class="row">
                          <div class="col-3 px-0">Proteines :</div>
                          <div class="col-3 px-0">Glucides :</div>
                          <div class="col-3 px-0">Lipides :</div>
                          <div class="col-3 px-0">Calories :</div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.proteines).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.glucides).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.lipides).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.calories).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </b-collapse>
            </li>
          </ul>
          <div class="commander">
            <button class="btn_commander" v-on:click="commander(menu)" v-if="haveReservation && isConnected">
              <i class="fas fa-shopping-basket" style="color: #343a40"></i>
              {{ menu.price }} €
            </button>
            <span v-else>{{ menu.price }} €</span>
          </div>

        </div>

        <div class="container-product">
          <div class="product-items" v-for="food in filteredFoods" :key="food.id">
            {{ food.name }}
            <div class="commander-product">
              <button class="btn_commander-product" v-on:click="commanderProduct(food)"
                      v-if="haveReservation && isConnected">
                <i class="fas fa-shopping-basket" style="color: white"></i>
              </button>
            </div>


            <i class="fas fa-info-circle text-white" v-b-toggle="'collapse-' + food.id"
               style="color: #343a40" @click="$bvModal.show('bv-modal-ingredients-'+food.id)"></i>
            <b-modal :id="'bv-modal-ingredients-'+food.id" hide-footer>
              <template #modal-title>
                Macros {{ food.name }}
              </template>
              <div class="d-block text-center">
                <div :id="'ingredients-' + food.id"
                     v-for="ingredientQuantity in food.ingredientQuantities" :key="ingredientQuantity.id"
                     class="container px-0 mb-5">
                  <div class="row">
                    <div class="col-12">
                        <span class="text-capitalize">{{
                            ingredientQuantity.ingredient.name
                          }} </span>
                      {{
                        (ingredientQuantity.quantity && ingredientQuantity.ingredient.defaultUnite) ? '(' + ingredientQuantity.quantity + ingredientQuantity.ingredient.defaultUnite + ')' : ''
                      }}
                    </div>
                    <div class="col-12 px-0 ml-1" style="font-size: 0.8rem;">
                      <div class="container">
                        <div class="row">
                          <div class="col-3 px-0">Proteines :</div>
                          <div class="col-3 px-0">Glucides :</div>
                          <div class="col-3 px-0">Lipides :</div>
                          <div class="col-3 px-0">Calories :</div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.proteines).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.glucides).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.lipides).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                          <div class="col-3 px-0">
                            {{
                              ((ingredientQuantity.quantity / 100) * ingredientQuantity.ingredient.macro.calories).toFixed(2)
                            }}{{
                              ingredientQuantity.ingredient.defaultUnite
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </b-modal>


            {{ food.price }} €
          </div>
        </div>
      </b-overlay>
    </div>
    <div class="center fixed-bottom" v-if="haveReservation && isConnected">
      <div class="container-dissmiss">
        <div class="dissmiss">
          <i class="fas fa-times" id="cross_collapse" v-b-toggle="'collapse-2'" v-on:click="hideCurrentOrder"
             style="color: white"></i>
        </div>
      </div>
      <div class="recap_menu">
        <!-- Element to collapse -->
        <b-collapse id="collapse-2">
          <b-card id="card_recap_menu">
            <div class="div_submit_commande" v-if="curentOrder.length > 0">
              <button class="btn_submit_commande" id="btn_submit_commande" v-on:click="submitCommande()">
                Submit Commande
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
            <p class="item_commande" v-for="(order, index) in curentOrder" :key="order.id+'-'+index">
              {{ order.name }}
              <button class="btn_item_delete" v-on:click="deleteItemCommande(order)">
                <i class="far fa-trash-alt" style="color: red;"></i>
              </button>
            </p>
            <p v-if="curentOrder.length === 0" style="color: white">Vous n'avez encore rien commandé</p>
            <div class="commande_price" v-if="this.curentOrder.length > 0">
              Total : {{ this.currentPrice }} €
            </div>
          </b-card>

        </b-collapse>
      </div>
    </div>
    <div class="btn_recap_menu fixed-bottom" v-if="haveReservation && isConnected">
      <b-button v-b-toggle="'collapse-2'" id="btn_collapse" v-on:click="hideBasket()" class="btn_collapse"
                style=" background-color: #343a40">
        <i class="fas fa-shopping-basket">
        </i>
        <p class="counter_item" v-if="this.curentOrder.length > 0">
          {{ this.currentPrice }} €
        </p>
      </b-button>
    </div>

   <!-- <b-button class="btn-add" v-if="!haveReservation && isConnected" v-on:click="openModalReservation()">
      <i class="fas fa-plus"></i>
    </b-button> -->

      <b-modal id="bv-modal-add-menu" hide-footer>
      <template #modal-title> Add Menu </template>
      <div class="d-block text-center">
        
      </div>
      <div class="popup_action">
        <a href="#">
          <b-button variant="danger" @click="hideModalReservation()">
            <i class="fa-solid fa-circle-plus">Fermer</i>
          </b-button>
        </a>
        <b-button variant="success" @click="addReservation(dateStart,dateEnd,order,table,lastname,firstname)">
          <i class="fa-solid fa-circle-plus">Ajouter</i>
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>

import {storeMenu} from "@/store/menu";
import {storeFood} from "@/store/food";
import {actionsOrder, storeOrder} from "@/store/order";
import authAPI from "../services/authAPI";
import {mutationsMenu} from "../store/menu";
import {mutationsFood} from "../store/food";


export default {
  name: "Menu",
  data() {
    return {
      curentOrder: [],
      isRedMeat: false,
      isVegetable: false,
      isWhiteMeat: false,
      isFish: false,
      isStarchy: false,
      isDairy: false,
      isPeanut: false,
      currentPrice: null
    }
  },
  methods: {
    commander: function (menu) {
      this.curentOrder.push(menu);
      this.currentPrice = this.currentPrice + menu.price
      this.currentPrice = Math.round(this.currentPrice * 100) / 100
    },

    commanderProduct: function (food) {
      this.curentOrder.push(food);
      this.currentPrice = this.currentPrice + food.price
      this.currentPrice = Math.round(this.currentPrice * 100) / 100
    },

    deleteItemCommande: function (menu) {
      var index = this.curentOrder.indexOf(menu);
      if (index !== -1) {
        this.curentOrder.splice(index, 1);
      }
      this.currentPrice = this.currentPrice - menu.price
      this.currentPrice = Math.round(this.currentPrice * 100) / 100
    },

    openModalReservation() {
      this.$bvModal.show("bv-modal-add-menu");
    },
    hideModalReservation() {
      this.$bvModal.hide("bv-modal-add-menu");
    },

    hideBasket: function () {
      document.getElementById('btn_collapse').style.display = "none";
      document.getElementById('cross_collapse').style.display = "flex";
    },

    hideCurrentOrder: function () {
      document.getElementById('btn_collapse').style.display = "flex";
      document.getElementById('cross_collapse').style.display = "none";
    },

    async submitCommande() {
      if (!this.haveReservation || !this.isConnected) {
        alert("Vous n'êtes pas connecté")
        return
      }

      
      let failedOrder = [];
      for (let order of this.curentOrder) {
        let res = await actionsOrder.postOrdersIntoAPI({
          reservation: "/api/reservations/" + this.currentReservationId,
          menu: order["@type"] == "Menu" ? order["@id"] : null,
          food: order["@type"] == "Food" ? order["@id"] : null,
          comment: null
        });

        if (!res) {
          failedOrder.push(order)
        } else {
          this.currentPrice = this.currentPrice - order.price
          this.currentPrice = Math.round(this.currentPrice * 100) / 100
        }
        document.getElementById("btn_submit_commande").disabled = true;
      }
      document.getElementById("btn_submit_commande").disabled = false;
      this.curentOrder = failedOrder
    },
  },

  computed: {
    currentReservationId() {
      return authAPI.storeAccount.currentReservationId
    },

    filteredMenus() {
      if (!storeMenu.menus) {
        return storeMenu.menus
      } else {
        return storeMenu.menus.filter(menu => {
          return ((!menu.isFish && this.isFish) || !this.isFish) &&
              ((!menu.isWhiteMeat && this.isWhiteMeat) || !this.isWhiteMeat) &&
              ((!menu.isVegetable && this.isVegetable) || !this.isVegetable) &&
              ((!menu.isRedMeat && this.isRedMeat) || !this.isRedMeat) &&
              ((!menu.isStarchy && this.isStarchy) || !this.isStarchy) &&
              ((!menu.isPeanut && this.isPeanut) || !this.isPeanut)
        })
      }
    },

    menus() {
      if (!storeMenu.menus)
        return storeMenu.menus

      return storeMenu.menus
    },

    filteredFoods() {
      if (!storeFood.foods) {
        return storeFood.foods
      } else {
        return storeFood.foods.filter(food => {
          return ((!food.isFish && this.isFish) || !this.isFish) &&
              ((!food.isWhiteMeat && this.isWhiteMeat) || !this.isWhiteMeat) &&
              ((!food.isVegetable && this.isVegetable) || !this.isVegetable) &&
              ((!food.isRedMeat && this.isRedMeat) || !this.isRedMeat) &&
              ((!food.isStarchy && this.isStarchy) || !this.isStarchy) &&
              ((!food.isPeanut && this.isPeanut) || !this.isPeanut)
        })
      }
    },
    foods() {
      if (!storeFood.foods) {
        return storeFood.foods
      }
      return storeFood.foods
    },

    orders() {
      return storeOrder.order
    },
    haveReservation() {
      return authAPI.haveReservation()
    },
    isConnected() {
      return authAPI.isConnected()
    }
  },
  mounted() {
    mutationsMenu.loadMenusFromAPI()
    mutationsFood.loadFoodFromAPI()
  }
}
</script>

<style scoped>

ul, li {
  list-style: none;
  padding: 0;
}

.recap_menu {
  display: flex;
  flex-direction: column;
}

.commander {
  display: flex;
  flex-direction: row-reverse;
}

.commander-product {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  color: white;
}

.btn_commander {
  border-radius: 1.25rem;
  background-color: transparent;
}


.btn_commander-product {
  border: none;
  background-color: transparent;
}

.container-fluid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn_recap_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_item_delete {
  display: flex;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
}

.item_commande {
  display: flex;
  justify-content: space-between;
  color: white;
}

.btn_collapse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
}

.counter_item {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
}

#collapse-2 {
  max-height: 80vh;
  overflow: auto;
  border-radius: 1.25rem;
}

.div_submit_commande {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.btn_submit_commande {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  border-color: white;
}

.filter {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  justify-content: space-between;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filter-elements {
  display: flex;
  background-color: #343a40;
  min-height: 46px;
  min-width: 46px;
  max-height: 46px;
  max-width: 46px;
  margin: 0 0.5em;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#items_menu {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 700px) {
  .containerMenu {
    max-width: 900px;
    width: 100%;
  }

  .filter {
    max-width: 900px;
    width: 100%;
  }

  .btn_collapse {
    max-width: 900px;
    width: 100%
  }

  .recap_menu {
    max-width: 900px;
    width: 100%
  }

  .container-dissmiss {
   max-width: 900px;
    width: 100%
  }

  .container-product {
    grid-gap: 20px 100px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .containerMenu {
    width: 100%;
  }

  .filter {
    width: 100%;
  }

  .btn_collapse {
    width: 100%;
  }

  .recap_menu {
    width: 100%;
  }

  .container-dissmiss {
    width: 100%;
  }

  .container-product {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dissmiss {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.dissmiss {
  background-color: #343a40;
  height: 30px;
  width: 30px;
  border-radius: 50% 50% 20% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#items_menu {
  border: solid 1px grey;
  box-shadow: 10px 5px 10px 10px grey;
}

#card_recap_menu {
  background-color: #343a40;
}


.filter-elements label input {
  position: absolute;
  top: -20px;
}

.filter-elements input:checked + span {
  background-color: white;
  color: #343a40;
  border: solid 1px #343a40;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
  width: 46px;
}

.filter-elements input:checked + span + i {
  color: #343a40;
}

.filter-elements input + span {
  background-color: #343a40;
  color: white;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
  width: 46px;
}

.container-product {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  margin: 15px;
}

.product-items {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  box-shadow: 3px 3px 3px 3px grey;
  background-color: #343a40;
  color: white;
}

.commande_price {
  color: white;
  text-align: center;
  border: solid 0.5px white;
  border-radius: 1.25rem;
}

.btn-add {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #343a40;
}

.popup_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
