<template>
  <div class="container-order">
    <div class="title">
      <h1 class="title_text">Order</h1>
    </div>

    <b-form-select v-model="selectedFilter" :options="options"
                   class="col-2 mt-2 mb-5 ml-2 align-self-start"></b-form-select>

    <div class="list-order">
      <div class="order-todo">
        <div v-for="(orders, index) in groupOrders" :key="index" class="list">
          <span class="order-group-filter">{{ index }}</span>
          <div :class="['order-card', 'status-'+order.status]" v-for="order in orders" :key="order.id" draggable="true"
               @dragstart="drag(event)">
            <div class="card_header">
              {{ order.reservation.name }}
            </div>
            <div class="card_body">
              <p class="number_table">Table: {{ order.reservation.restaurantTable[0].id }}</p>
              <p class="menu" v-if="order.menu">{{ order.menu.name }}</p>
              <p class="menu" v-if="order.food">{{ order.food.name }}</p>
            </div>
            <div class="card_footer">
              <b-button variant="danger" @click="deleteOrder(order.id)" v-if="isAdmin">
                <i class="fas fa-trash-alt"></i>
              </b-button>
              <b-button variant="warning" @click="cancelOrder(order.id)"
                        v-if="order.status !== 'A' && order.status !== 'P' && order.status !== 'C'"><i
                  class="fas fa-ban"></i></b-button>
              <b-button variant="success" @click="inProgressOrdersFromAPI(order.id)" 
                        v-if="order.status !== 'A' && order.status !== 'P' && order.status !== 'C' && isAdmin"><i
                  class="fas fa-paper-plane"></i></b-button>
              <b-button variant="success" @click="readyOrder(order.id)"
                        v-if="order.status == 'C' && isAdmin">
                <i class="fas fa-check"></i>
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import {storeMenu} from "@/store/menu";
import {storeOrder} from "@/store/order";
import authAPI from "../services/authAPI";
import {storeFood} from '../store/food';
import {actionsOrder, mutationsOrder} from "../store/order";

export default {
  name: "Order",
  data() {
    return {
      curentOrderToDo: [],
      curentOrderDone: [],
      selectedFilter: 'com-status',
      options: null
    }
  },
  methods: {
    allowDrop: function (ev) {
      ev.preventDefault();
    },

    drag: function (ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    },

    drop: function (ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    },

    orderDone: function (order) {
      this.curentOrderDone.push(order)
      this.storeMenu.removeItem('order');
    },

    async deleteOrder(id) {
      let res = await actionsOrder.deleteOrdersFromAPI(id)

      if (res) {
        this.$bvToast.toast('La commande à correctement été supprimée', {
          title: "Suppression commande",
          variant: "success",
          solid: true,
          autoHideDelay: 5000000,
        })
      } else {
        this.$bvToast.toast('Une erreur est survenue, la commande n\' pas été supprimée', {
          title: "Suppression commande",
          variant: "danger",
          solid: true,
          autoHideDelay: 5000000,
        })
      }
    },

    async cancelOrder(id) {
      let res = await actionsOrder.cancelOrdersFromAPI(id)

      if (res) {
        this.$bvToast.toast('La commande à correctement été annulée', {
          title: "Annulation commande",
          variant: "success",
          solid: true,
          autoHideDelay: 5000000,
        })
      } else {
        this.$bvToast.toast('Une erreur est survenue, la commande n\' pas été annulée', {
          title: "Annulation commande",
          variant: "danger",
          solid: true,
          autoHideDelay: 5000000,
        })
      }
    },

    async readyOrder(id) {
      let res = await actionsOrder.readyOrdersFromAPI(id)

      if (res) {
        this.$bvToast.toast('La commande est prete', {
          title: "La commande prete !",
          variant: "success",
          solid: true,
          autoHideDelay: 5000,
        })
      } else {
        this.$bvToast.toast('Une erreur est survenue, la commande n\'est pas prete', {
          title: "Erreur commande",
          variant: "danger",
          solid: true,
          autoHideDelay: 5000,
        })
      }
    },
    async inProgressOrdersFromAPI(id) {
      let res = await actionsOrder.inProgressOrdersFromAPI(id)

      if (res) {
        this.$bvToast.toast('La commande est en cours', {
          title: "La commande est en cours !",
          variant: "success",
          solid: true,
          autoHideDelay: 5000,
        })
      } else {
        this.$bvToast.toast('Une erreur est survenue, la commande n\'est pas pas passée', {
          title: "Erreur commande",
          variant: "danger",
          solid: true,
          autoHideDelay: 5000,
        })
      }
    },
  },
  computed: {
    haveReservation() {
      return authAPI.haveReservation()
    },
    menus() {
      return storeMenu.menus
    },

    food() {
      return storeFood.foods
    },

    groupOrders() {
      if (!storeOrder.orders || !storeOrder.orders.length)
        return null
      if (this.selectedFilter == null)
        return {"": storeOrder.orders}

      let filter = this.selectedFilter.split('-')

      let orders = storeOrder.orders.reduce((r, a) => {
        if (filter[0] === "resa")
          r[a.reservation[filter[1]]] = [...r[a.reservation[filter[1]]] || [], a]

        if (filter[0] === "com") {
          let cat
          switch (a[filter[1]]) {
            case 'P':
              cat = "Prêt"
              break
            case 'A':
              cat = "Annulé"
              break
            case 'C':
              cat = "En cours"
              break
            default:
              cat = "Aucun status"
              break
          }
          r[cat] = [...r[cat] || [], a];
        }


        return r;
      }, {})

      return orders
    },
    isConnected() {
      return authAPI.isConnected()
    },
    isAdmin() {
      return this.isConnected && authAPI.isAdmin()
    },
  },
  mounted() {
    if (authAPI.haveReservation()) {
      mutationsOrder.loadOrderForReservationFromAPI(authAPI.storeAccount.currentReservationId)
    } else if (authAPI.isAdmin()) {
      mutationsOrder.loadOrdersFromAPI()
    }
    
    this.options = this.isAdmin ?
        [
          {value: null, text: 'Selectionner un filtre ...'},
          {value: 'resa-name', text: 'Nom'},
          {value: 'resa-id', text: 'Reservation'},
          {value: 'com-status', text: 'Status'}
        ]
        :
        [
          {value: null, text: 'Selectionner un filtre ...'},
          {value: 'com-status', text: 'Status'}
        ]
  }
}
</script>

<style scoped>
.container-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-order {
  width: 100%;
}

.order-todo {
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

.order-done {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}

.list {
  margin: 2% 2% 4% 2%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.order-card {
  background-color: #7d8492;
  flex: auto;
  border-radius: 10px;
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 20%;
}

.card_header {
  text-align: center;
}

.card_body {
  text-align: center;
}

.status-A {
  background-color: #de9775;
}

.status-C {
  background-color: #5a898f;
}

.status-P {
  background-color: #5a8f5d;
}

.order-group-filter {
  width: 100%;
}

/*.list-order {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.list-order_todo {*/
/*  border-right: solid;*/
/*  width: 50%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

/*.list-order_done {*/
/*  width: 50%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

/*.card_todo {*/
/*  width: 70%;*/
/*  border: solid 1px #343a40;*/
/*  border-radius: 1.25rem;*/
/*  margin-bottom: 10px;*/
/*}*/

/* .card_header {*/
/*  width: 100%;*/
/*  height: 30%;*/
/*  text-align: center;*/
/*  background-color: #343a40;*/
/*  border-radius: 1.25rem;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  align-content: center;*/
/*  text-align: center;*/
/*  color: white;*/
/*} */

/*.card_body {*/
/*  width: 100%;*/
/*  height: 70%;*/
/*}*/


/*@media (min-width: 700px) {*/
/*  .list-order_todo {*/
/*    display: grid;*/
/*    grid-gap: 10px 20px;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    margin-left: 30px;*/
/*  }*/

/*  .list-order_done {*/
/*    display: grid;*/
/*    grid-gap: 10px 20px;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    margin-left: 30px;*/
/*  }*/
/*}*/

/*@media (max-width: 700px) {*/

/*  .list-order_todo {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin-left: 30px;*/
/*  }*/

/*  .list-order_done {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin-left: 30px;*/
/*  }*/
/*}*/
</style>
