<template>
  <div class="overflow-auto px-2">
    <table
      id="table-infos-reservations"
      class="table table-bordered my-0"
      v-if="reservations"
    >
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Debut</th>
          <th scope="col">Fin</th>
          <th scope="col">Table(s)</th>
          <th scope="col">Nom</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="reservation in reservations" :key="reservation.id">
          <td class="td_style">
            {{ reservation.id }}
          </td>
          <td class="td_style">
            {{ beautifyDate(reservation.startDate) }}
          </td>
          <td class="td_style">
            {{ beautifyDate(reservation.endDate) }}
          </td>
          <td class="td_style">
            <span v-for="table in reservation.restaurantTable" :key="table.id">
              {{ table.id }}
            </span>
          </td>
          <td class="td_style">
            {{ reservation.name }}
          </td>
          <td style="display: flex; justify-content: space-around">
            <button
              class="btn btn-outline-secondary"
              @click="selectReservation([reservation])"
            >
              Selectionner
            </button>
            <b-button
              variant="danger"
              @click="deleteReservation(reservation.id)"
            >
              <i class="fas fa-trash-alt"></i>
            </b-button>
          </td>
        </tr>
      </tbody>
    </table>
    <p v-else>Aucune reservation</p>
    <b-button
      class="btn-add"
      variant="success"
      v-on:click="openModalReservation()"
    >
      <i class="fas fa-plus"></i>
    </b-button>

    <b-modal id="bv-modal-add-reservation" hide-footer>
      <template #modal-title> Add Reservation </template>
      <div class="d-block text-center">
        <b-form @submit="addReservation">
          <b-form-group
            id="reservation-input-group-name"
            class="my-2"
            style="border-radius: 1.25rem"
          >
            <input
              type="datetime-local"
              id="meeting-time"
              name="meeting-time"
              v-model="dateStart"
            />
          </b-form-group>
          <div>
            <input
              type="datetime-local"
              id="meeting-time"
              name="meeting-time"
              v-model="dateEnd"
            />
          </div>
          <b-form-group
            id="reservation-input-group-name"
            class="my-2"
            style="border-radius: 1.25rem"
          >
            <b-form-input
              id="reservation-input-name"
              type="text"
              placeholder="Saisir le nom"
              v-model="name"
              required
              style="border-radius: 1.25rem"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="reservation-input-group-table"
            class="my-2"
            style="border-radius: 1.25rem"
          >
          <b-form-checkbox-group
          id="checkbox-group"
          v-model="selectedTable"
          >
          <b-form-checkbox v-for="table in restaurantTableAvailable" :key="table.id" :value="table.id">{{table.id}}</b-form-checkbox>
          </b-form-checkbox-group>
          </b-form-group>
        </b-form>
        </div>
        <div class="popup_action">
          <a href="#">
            <b-button variant="danger" @click="hideModalReservation()">
              <i class="fa-solid fa-circle-plus">Fermer</i>
            </b-button>
          </a>
          <b-button
            variant="success"
            @click="addReservation(dateStart, dateEnd, selectedTable, name)"
            :disabled="!isValidDate || !nameIsCompleted || !tableIsSelected"
          >
            <i class="fa-solid fa-circle-plus">Ajouter</i>
          </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  actionsReservation,
  mutationsReservation,
  storeReservation,
} from "../store/reservation";
import { mutationsTable, storeTable } from "../store/table";
import moment from "moment-timezone";
import authAPI from "../services/authAPI";

export default {
  name: "Reservation",
  data() {
    return {
      curentOrderToDo: [],
      curentOrderDone: [],
      selectedTable: [],
      optionselect: [],
      showModal: false,
      dateEnd: null,
      name: "",
      order: "",
      table: null,
      dateStart: null,
    };
  },
  components: {},
  methods: {
    beautifyDate(date) {
      return moment(date).format("DD/MM/YYYY à HH:mm");
    },
    selectReservation(reservation) {
      authAPI.setCurrentReservation(reservation);
      this.$router.push({ name: "menu" });
    },
    openModalReservation() {
      this.$bvModal.show("bv-modal-add-reservation");
    },
    hideModalReservation() {
      this.$bvModal.hide("bv-modal-add-reservation");
    },
    async deleteReservation(id) {
      let res = await actionsReservation.deleteReservationFromAPI(id);
      if (res) {
        this.$bvToast.toast("La reservation à correctement été supprimée", {
          title: "Suppression reservation",
          variant: "success",
          solid: true,
          autoHideDelay: 5000,
        });
      } else {
        this.$bvToast.toast(
          "Une erreur est survenue, la reservation n' pas été supprimée",
          {
            title: "Suppression reservation",
            variant: "danger",
            solid: true,
            autoHideDelay: 5000,
          }
        );
      }
    },

    async addReservation(dateStart, dateEnd, selectedTable, name) {
      let start = dateStart;
      let end = dateEnd;      
      await actionsReservation.postReservation({
        startDate: start,
        endDate: end,
        orders: [],
        restaurantTable: ["/api/restaurant_tables/" + selectedTable],
        name: name,
      });

      mutationsReservation.loadReservationsFromAPI();
      mutationsTable.loadTablesFromAPI();
    },
  },
  computed: {
    reservations() {
      if (storeReservation.reservations) return storeReservation.reservations;

      return null;
    },

    isValidDate() {
      if(!this.dateEnd || !this.dateStart){
        return false
      } 
      return moment(this.dateEnd).unix() > moment(this.dateStart).unix()
    },
    nameIsCompleted() {
      if(this.name == "" || this.name == null){
        return false
      }
      return this.name
    },
    tableIsSelected() {
      if(this.selectedTable.length == 0){
        return false
      }
      return this.selectedTable
    },
    restaurantTableAvailable() {
      let tablesDispo = [];
      let allres = storeReservation.reservations;
      let tables = storeTable.tables;
      if (!tables || !allres) {
        return [];
      }
      let start = this.dateStart;
      let end = this.dateEnd;
      for (let table of tables) {
        let reservations = allres.filter(
          (res) => res.restaurantTable[0].id == table.id
        );
        let res = true;
        for (let reservation of reservations) {          
          if (
            moment(start).unix() <= moment(reservation.endDate).unix() &&
            moment(end).unix() >= moment(reservation.startDate).unix()
          ) {
            res = false;
            break;
          }
        }

        if (res) {
          tablesDispo.push(table);
        }
      }
      return tablesDispo;
    },
  },
  mounted() {
    if (authAPI.isAdmin()) {
      mutationsReservation.loadReservationsFromAPI();
      mutationsTable.loadTablesFromAPI();
    }
  },
};
</script>

<style scoped>
.td_style {
  text-align: center !important ;
}

.btn-add {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

body {
  font-family: "montserrat", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg)
    no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06d85f;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.popup_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#meeting-time {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
}
</style>
