<template>
  <div id="app">
    <header  class="header">
      <NavBarBlock></NavBarBlock>
    </header>

    <div class="content">
      <router-view/>
    </div>

    <footer class="footer"></footer>
  </div>
</template>

<script>
import NavBarBlock from '@/components/NavBarBlock.vue'

export default {
  name: 'Home',
  components: {
    NavBarBlock
  },
}
</script>

<style>
.content{
  padding-top: 50px;
  min-height: 100%;
}

html, #app{
  background-color: #fff8f7;
}

</style>
